@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:ital,wght@0,400;1,600&family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

h1 {
    font-size: 3rem;
    line-height: 64px;
}

h2 {
    font-size: 2.5rem;
    line-height: 52px;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    margin: 16px 0 20px 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-p1 {
    padding: 40px 80px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #618264;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.brand {
    width: 80px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li {
    padding: 0 20px;
    position: relative;
}

.nav li a {
    font-size: 16px;
    font-weight: 600;
    color: #D0E7D2;
    transition: 0.3s ease;
}

.nav li a:hover, 
.nav li a.active {
    color: #FAF1E4;
}

.nav li a.active::after,
.nav li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FAF1E4;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.about-text {
    height: 60px;
    width: 440px;
    position: absolute;
    z-index: 999;
    right: 20px;
    top: 50vh;
}

.about-text p {
    font-size: 1.8rem;
    color: #FAF1E4;
}

.about {
    text-align: center;
    color: #618264;
    padding: 20px 80px;
}

.about h2 span img {
    height: 32px;
}

.about p {
    text-align: justify;
    color: black;
}



