/* Footer */

#footer {
    background-color: #618264;
    padding: 20px 80px;
}

.footer-brand {
    padding: 20px 0 20px 0;
}

#footer .footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#footer .footer-content .about-us,
#footer .footer-content .our-store {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .footer-content .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer .footer-content .footer-box a {
    padding: 12px 20px;
    color: #D0E7D2;
    transition: 0.3s ease;
}

#footer .footer-content .footer-box a:hover {
    color: #FAF1E4;
}

.contact,
.follow,
.about-us,
.our-store {
    color: #FAF1E4;
}

.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.follow .follow-icon {
    display: flex;
    flex-direction: column;
}

.follow .follow-icon a {
    color: #FAF1E4;
    padding: 12px 20px;
}   

#footer .footer-cpr {
    text-align: center;
    padding: 20px 80px 0 80px;
}