@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:ital,wght@0,400;1,600&family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

h1 {
    font-size: 3rem;
    line-height: 64px;
}

h2 {
    font-size: 2.5rem;
    line-height: 52px;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    margin: 16px 0 20px 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main section {
    padding-top: 62px!important;
}

.section-p1 {
    padding: 40px 80px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #618264;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

.brand {
    width: 80px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li {
    padding: 0 20px;
    position: relative;
}

.nav li a {
    font-size: 16px;
    font-weight: 600;
    color: #D0E7D2;
    transition: 0.3s ease;
}

.nav li a:hover, 
.nav li a.active {
    color: #FAF1E4;
}

.nav li a.active::after,
.nav li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FAF1E4;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#close {
    display: none;
}

#mobile {
    display: none;
    align-items: center;
}

/* Hero */

#hero {
    background-image: url(./pics/hero1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 16px;
}


#hero h1 {
    color: #618264;
}

#hero button {
    background-image: url(./pics/button.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    padding: 16px 80px 16px 66px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

/* About */

#about {
    margin-top: 60px;
}

#about .container{
    text-align: center;
}

#about .container h2 {
    color: #618264;
}

/* Feature */

#feature .feature-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-card {
    width: 180px;
    text-align: center;
    padding: 24px 16px;
    box-shadow: 20px 20px 32px rgba(0, 0, 0, 0.03);
    border: 1px solid #D0E7D2;
    border-radius: 4px;
    cursor: pointer;
    margin: 16px 0;
}

.feature-card:hover {
    box-shadow: 12px 12px 52px rgba(70, 62, 221, 0.1);
}

.feature-card img {
    width: 100%;
}

.feature-card h6 {
    padding: 6px 8px 6px;
    line-height: 1;
    border-radius: 4px;
    background-color: #D0E7D2;
    font-size: 16px;
    margin-top: 12px;
}

/* Bookshelf */

#bookshelf {
    text-align: center;
}

#bookshelf h2 {
    color: #618264;
}

#bookshelf .book-card {
    width: 23%;
    min-width: 250px;
    padding: 16px 16px;
    border: 1px solid #D0E7D2;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    margin: 16px 0;
    transition: 0.2s ease;
    position: relative;
}

#bookshelf .book-card:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.08);
}

#bookshelf .book-card img {
    width: 100%;
    height: 70%;
    border-radius: 12px;
}

#bookshelf .book-card .desc {
    text-align: start;
    padding: 12px 0;
}

#bookshelf .book-card .desc h5 {
    padding-top: 8px;
    color: #435334;
    font-size: 1rem;
}

#bookshelf .book-card .desc i {
    color: rgb(243, 181, 25);
    font-size: 12px;
}

#bookshelf .book-card .desc h4 {
    padding-top: 8px;
    font-size: 1rem;
    color: #435334;
}

#bookshelf .book-card .add-cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #618264;
    color: #FAF1E4;
    position: absolute;
    bottom: 24px;
    right: 12px;
}

#bookshelf .book-card .add-cart:hover {
    width: 52px;
    height: 52px;
    line-height: 52px;
    transition: 0.2s ease-out;
}

#bookshelf .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

/* Blog */

#blog {
    text-align: center;
}

#blog h2, 
#blog h4 {
    color: #618264;
    font-weight: 600;
}

#blog .blog-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 28px;
}

#blog .blog-card {
    text-align: left;
    width: 30%;
    background-color: #F1F0E8;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

#blog .blog-card:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.2);
}

#blog .blog-card img {
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: -24px;
    right: 24px;
}

#blog .blog-card .blog-detail {
    padding: 12px 28px;
}

#blog .blog-card .blog-detail p {
    font-weight: lighter;

}

#blog .blog-card .blog-detail .feedback {
    display: block;
    text-align: right;
}

/* Footer */

#footer {
    background-color: #618264;
    padding: 20px 80px;
}

.footer-brand {
    padding: 20px 0 20px 0;
}

#footer .footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#footer .footer-content .about-us,
#footer .footer-content .our-store {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .footer-content .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer .footer-content .footer-box a {
    padding: 12px 20px;
    color: #D0E7D2;
    transition: 0.3s ease;
}

#footer .footer-content .footer-box a:hover {
    color: #FAF1E4;
}

.contact,
.follow,
.about-us,
.our-store {
    color: #FAF1E4;
}

.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.follow .follow-icon {
    display: flex;
    flex-direction: column;
}

.follow .follow-icon a {
    color: #FAF1E4;
    padding: 12px 20px;
}   

#footer .footer-cpr {
    text-align: center;
    padding: 20px 80px 0 80px;
}

/* Cart */




/* Responsive - Media Query */

@media (max-width: 799px) {
    #navbar { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e3e3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 24px;
    }

    #navbar li a, 
    #navbar a {
        color: #435334;
    }

    #mobile {
        display: flex;
        align-items: center;
    }  
    
    #mobile i {
        color: #FAF1E4;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    .navbar-cart {
        display: none;
    }
    
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
    }
}